@keyframes anim1{
    0%{ transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}

.time {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    position: relative;
    margin: 0 auto;
    width: 435px;
    height: 435px;
    background-image: url('../images/22.png');
    border: 1px solid black;
}

.arrow {
    position: absolute;
    top: 70px;
    border-right: 1px solid black;
    height: 147px;
    left: 216px;
    animation: anim1 60s infinite steps(60, start);
    transform-origin: 100% 100% 0;
}