@font-face {
    font-family: 'Google Sans' ;
    src: url(../fonts/GoogleSans-Bold.woff);
}
@font-face {
    font-family: 'Proxima Nova Thin';
    src: url(..//fonts/ProximaNovaCond-Thin.woff)
}
@font-face {
    font-family: 'Proxima Nova Bold';
    src: url(..//fonts/ProximaNova-Bold.ttf);
}
@font-face {
    font-family: 'Proxima Nova Semibold';
    src: url(..//fonts/ProximaNovaExCn-Semibold.woff);
}
@font-face {
    font-family: 'Gotham Pro';
    src: url(../fonts/GothamPro-Bold.woff);
}
@font-face {
    font-family: 'Proxima Nova Regular';
    src: url(..//fonts/ProximaNova-Regular.ttf);
    
}
@font-face {
    font-family: 'Google Sans Bold';
    src: url(..//fonts/GoogleSans-Bold.woff);
}



body {
    background: #E5E5E5;
    
}


.header {
   
  
    position: relative;
    width: 1920px;
    height: 1005.5px;
    background: url(../images/back.png) no-repeat;
    
}


.headerinfo {
    position: relative;
    margin: 0 auto;
    width: 1250px;
    height: 34px;
    
}
.left_h {
    position: absolute ;
    width: 200px;
    height: 25px;
   
    
}
    .left_h .date, .time {
        position: absolute ;
        width: 100px;
        height: 10px;
        font-family: 'Proxima Nova Regular';
        font-size: 14px;
        line-height: 17px;
        left: 54px;
        margin-top: 9px;
        color: #FFFFFF;
    }
    .time{
        left: 138px;
        margin-top: 9px;
        font-family: 'Proxima Nova Regular';
    }
    .money {
        position: absolute;
        
        width: 469px;
        height: 34px;
        left:228px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 14px;
        line-height: 17px;
        color: #FFFFFF;
        font-family: 'Proxima Nova Regular';
            
    }
    .bitcoin {
        /* font-family: 'Proxima Nova Bold'; */
    
    }

    .lang {
        position: absolute;
        width: 200px;
        height: 20px;
        right: 20px;
    }
    .ru,.en,.zh {
        position: absolute;
        margin-top: 3px;
        width: 26px;
        height: 10px;
        top: 8px;
        left: 90px;
        font-family: 'Proxima Nova Regular';
        font-size: 14px;
        line-height: 11px;
        letter-spacing: 2.3px;
        border-right: 1px solid white;

        color: #FFFFFF;

    }
    .en {
        left: 125px;
    }
    .zh {
        left: 162px;
        border-right: 0;
    }
    .back2 {
        margin: 0 auto;
        top: 34px;
        position: relative;
        left: 7px;
        width: 1155px;
        height: 1px;
        background: rgba(244, 244, 249, 0.5);
    }
    .header_nav {
        position: relative;
        margin: 0 auto;
        width: 1300px;
        height: 100px;
        
        
    }
    .logo {
        position: absolute;
        top:24px;
        left: 79px;
        width: 41px;
        height: 41px;
        border-radius: 5px;        
        background: white;
        
    }
    .sigma {
        position: absolute;
        top: 33px;
        left: 90px;
        width: 18.28px;
        height: 22.4px;
        background: url(..//images/sigma.png) no-repeat;
    }
    .pool {
    position: absolute;
    
    width: 143px;
    height: 23px;
    font-size: 21px;
    line-height: 28px;
    letter-spacing: 0.05em;
    font-family: 'Gotham Pro';
    color: #FFFFFF;
    top:30px;
    left:133px;
    }
    .button1 {
    position: absolute;
    width: 105px;
    height: 33px;
    border: 1px solid white;
    left: 336px;
    top: 29px;
    border-radius: 5px;

    }
    .bit {
        position: absolute;
        background: url(..//images/bitcoin.png) no-repeat;
        top: 7px;
        left: 17px;
        width: 16px;
        height: 16px;
        
    }
    .BTC {
        position: absolute;
        left: 27px;
        width: 61px;
        height: 32px; 
        font-family: 'Proxima Nova Bold';
        font-size: 14px;  
        display: flex;
        align-items: center;
        justify-content: center;
        color:white;
        


    }
    .triangle {
        background: url(..//images/traingle.png) no-repeat;
        position: absolute;
        width: 5px;
        height: 5px;
        left: 54px;
        top: 14px;
    }
    .menu {
        position: absolute;
        width: 538px;
        height: 80px;
        left: 500px;
        top: 5px;
        display: flex;
        flex-direction: row ;
        justify-content: space-between;
        align-items: center;
        font-family: 'Proxima Nova Bold';
        font-size: 14px;
        line-height: 17px;
        margin-right: 38px;

        
    }
    .menu a {
        color: #FFFFFF;
        opacity: 0.6;
        text-decoration: none;

    }
    .menu:last-child {
        margin-right: 0;

    }
    .menu a:hover{
        color: #FFFFFF;
        opacity: 1;
        border-bottom: 3px solid white;
        padding-bottom: 8px;
               
    }
    .button2 {
        position: absolute;
        width: 157px;
        height: 35px;
        left: 1076px;
        top: 29px;
        background: #FFFFFF;
        border-radius: 5px;
     
        
        }

        .logo_button{
            background: url(../images/group.png) no-repeat;
            width: 12px;
            height: 14px;
        }
        .text_button {
            width: 73px;
            height: 42px;
            font-family: 'Proxima Nova Bold';
            font-size: 14px;
            line-height: 40px;
            color: #2A1C75;
        }

        .triangle2 {
          
            width: 5px;
            height: 5px;
            background: url(../images/polygon.png) no-repeat;
            /* margin: 0; */
          
        }
        .container {
            position: absolute;
            width: 150px;
            height: 30px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
            left: 4px;
            top: 2px;
        }
    .header_text{
        position: relative;
        height: 870px;
        width: 1170px;
        margin: 0 auto;
       
    }
    .main_text  {
       
        position: absolute;
        Width: 511px;
        Height: 107px;
        color: #FFFFFF;
        font-family: Google Sans;
        font-size: 28px;
        line-height: 36px;
        letter-spacing: 0.05em;
        top: 115px;
        left: 15px;
    }
    .subtitle_header{
        position: relative;
        width: 628px;
        height: 96px;
        font-family: 'Proxima Nova Bold';
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.04em;
        color: #FFFFFF;
        top:18px;
     }
     .registration {
        position: absolute;
        width: 220px;
        height: 40px;
        left: 0;
        top: 251px;
        background: #FFFFFF;
        border: 1.5px solid #FFFFFF;
        border-radius: 23px;
        font-family: 'Proxima Nova Bold';
        font-size: 14px;
        line-height: 17px;
        color: #2A1C75;
        display: flex;
        align-items: center;
        justify-content: center;
        letter-spacing: 0px;
     }
     .laptop {
        position: absolute;
        width: 629px;
        height: 496px;
        background: url(../images/laptop.png) no-repeat;
        left: 598px;
        top: -87px;

     }
     /* main content */

     .main_content {
         position: relative;
         width: 1920px;
         height: 1000px;
         /* border: 1px solid black; */
     }
     .card_coin {
        position: relative;
        width: 1200px;
        height: 346px;
        /* border: 1px solid black; */
        margin: 0 auto;
        /* display: flex; */

     }
     .bitcoin_card, .litecoin_card, .dash_card {
        position: absolute;
        width: 346px;
        height: 436px;
        left: 29px;
        top: -92px;
        
        background: #FFFFFF;
        box-shadow: 0px 0px 35px #D5D5E3;
        border-radius: 5px;
     }
     .logo_card {
         position: absolute;
        
         width: 137px;
         height: 30px;
         left: 34px;
         top: 29px;
         background: url(../images/bitcoin2.png) no-repeat;
         font-family: 'Google Sans Bold';
         font-size: 24px;
         line-height: 31px;
         display: flex;
         align-items: center;
        justify-content: space-between;
         color: #333333;

     }
     .logo_card span {
        padding-left: 45px;
     }
     .description {
         position: relative;
         top:90px;
         width: 300px;
         height: 92px;
         left: 1px;
         
         /* display: flex;
         align-items: flex-start;
         flex-direction: column;
         justify-content: space-between; */
     }
     .hesh, .cost_BTC, .miner, .cost_USD, .profit {
        
        font-family: 'Proxima Nova Regular';
        font-size: 14px;
        line-height: 24px;

     }
     .description b {
        font-size: 20px;
        line-height: 24px;
     }
     .bitcoin_card a {
        position: absolute;
        top: 258px;
        left: 34px;
        width: 142px;
        height: 18px;
        font-family: 'Proxima Nova Bold';
        font-size: 14px;
        line-height: 17px;
        text-decoration: none;
        color: #2F80ED;
     }

        .bitcoin_card a::after {
            content: "";
            position: absolute;
            width: 7px;
            height: 10px;
            background-image: url(../images/arrow.png);
            top: 3px;
            right: -12px;


            
        } 

    
     .hesh {
         position: absolute; 
         top: -9px;
         left: 35px;
         
        }
    .cost_BTC {
        position: absolute;
        top: 48px;
        left: 33px;
    }
    .miner {
        position: absolute;
        top: -9px;
        left: 185px;
    }
    .cost_USD {
        position: absolute;
        top: 48px;
        left: 185px;
    }
    .profit {
        position: absolute;
        top: 106px;
        left: 35px;
    }
.qick_start {
    position: absolute;
        width: 276px;
        height: 42px;
        left: 34px;
        bottom: 88px;
        background: linear-gradient(58.78deg, #2A1C75 -599.37%, #5639B7 81.13%);
        border-radius: 5px;
        font-family: 'Proxima Nova Bold';
        font-size: 14px;
        line-height: 17px;
        color: #FFFFFF;
        display: flex;
        align-items: center;
        justify-content: center;
        letter-spacing: 0px;

}
.view {
    position: absolute;
        width: 274px;
        height: 41px;
        left: 34px;
        bottom: 35px;
        background: #FFFFFF;
        box-shadow: 0px 0px 35px #D5D5E3;
        border: 1px solid #2A1C75;
        border-radius: 5px;
        font-family: 'Proxima Nova Bold';
        font-size: 14px;
        line-height: 17px;
        color: #2A1C75;
        display: flex;
        align-items: center;
        justify-content: center;
        letter-spacing: 0px;
  

}
.litecoin_card {
    left: 436px;
}
.logo_card_litecoin {
    position: absolute;
    width: 137px;
    height: 33px;
    left: 34px;
    top: 29px;
    background: url(../images/litecoin.png) no-repeat;
    font-family: 'Google Sans Bold';
    font-size: 24px;
    line-height: 31px;
    display: flex;
    align-items: center;
   justify-content: space-between;
    color: #333333;
}
.logo_card_litecoin span {
    padding-left: 45px;
 }
 .litecoin_card a {
    position: absolute;
    top: 258px;
    left: 34px;
    width: 142px;
    height: 18px;
    font-family: 'Proxima Nova Bold';
    font-size: 14px;
    line-height: 17px;
    text-decoration: none;
    color: #2F80ED;
 }

    .litecoin_card a::after {
        content: "";
        position: absolute;
        width: 7px;
        height: 10px;
        background-image: url(../images/arrow.png);
        top: 3px;
        right: -12px;


        
    }
    .dash_card {
        left: 837px;
    }
    .logo_card_dash{
        position: absolute;
        width: 137px;
        height: 33px;
        left: 34px;
        top: 29px;
        background: url(../images/dash.png) no-repeat;
        font-family: 'Google Sans Bold';
        font-size: 24px;
        line-height: 31px;
        display: flex;
        align-items: center;
       justify-content: space-between;
        color: #333333;
    }
    .logo_card_dash span {
        padding-left: 45px;
     }
     .dash_card a {
        position: absolute;
        top: 258px;
        left: 34px;
        width: 142px;
        height: 18px;
        font-family: 'Proxima Nova Bold';
        font-size: 14px;
        line-height: 17px;
        text-decoration: none;
        color: #2F80ED;
     }
    
        .dash_card a::after {
            content: "";
            position: absolute;
            width: 7px;
            height: 10px;
            background-image: url(../images/arrow.png);
            top: 3px;
            right: -12px;
           }
         
     

        






    /* .menu::after {
        content: "";
        top: 3px;
        border: 2px solid #FFFFFF;;
    } */















/* .main  {
    position: absolute;
    Width: 511px;
    Height: 107px;
    background-color: #32228A;
    color: #FFFFFF;
    font-family: Google Sans;
    font-size: 28px;
    line-height: 36px;
    letter-spacing: 0.05em;
    top: 0px;
    left: 0px;
} */