.main {
    margin: 0 auto;
    width: 432px;
    height: 432px;
    display: flex;
    flex-wrap: wrap;
    
}
.cub {
    height: 50px;
    width: 50px;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    user-select: none;
}
.white {
    background: rgb(240, 202, 175);
   }

.black {
    background: rgb(216, 124, 48);
   }
.peshkaW, .ladyaW, .horseW, .oficerW, .queenW, .kingW {
    font-size: 3rem;
    color: white;
   

    
}

.peshkaB, .ladyaB, .horseB, .oficerB, .queenB, .kingB {
    font-size: 3rem;
    color: black;
}
// .flag{
//     margin: 0 auto;
//     width: 400px;
//     height: 400px;
//     border: 2px solid black;
//     background: linear-gradient(to top, yellow 50%,  blue 50%);
// }
