@charset "UTF-8";

 
.icon-pause:before { content: '\2389'; } /* '⎉' */
.icon-play:before { content: '\25b6'; } /* '▶' */
.icon-spin3:before { content: '\e832'; } /* '' */
.icon-clock:before { content: '🕔'; } /* '\1f554' */