.main {
  height: 98vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 50px 2fr  2fr 50px;
      grid-template-rows: 50px 2fr  2fr 50px;
      grid-template-areas: "hd" "ct" "br" "bt" "fr";
}

.main div {
  background: burlywood;
}

.header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: hd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 50px;
}

.header div {
  min-width: 400px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  border: 1px solid black;
}

.header .logo, .header .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: burlywood;
}

.aside {
  grid-area: as;
  border: 1px solid black;
}

.aside .content2 {
  border: 1px solid black;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 200px 1fr;
      grid-template-columns: 200px 1fr;
  -ms-grid-rows: 1fr 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  border: 1px solid black;
      grid-template-areas: "cub3 . " "cub3 cub4" "cub5 cub4" "cub5 cub6" ". cub6";
}

.aside .content2 .div {
  border: 1px solid black;
}

.aside .content2 .cub3 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: cub3;
}

.aside .content2 .cub4 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  grid-area: cub4;
}

.aside .content2 .cub5 {
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: cub5;
}

.aside .content2 .cub6 {
  -ms-grid-row: 4;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  grid-area: cub6;
}

.article1 {
  grid-area: ar1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 400px;
  border: 1px solid black;
}

.article1 .block1 {
  -ms-flex-item-align: start;
      align-self: flex-start;
  height: 70px;
  min-width: 400px;
  border: 1px solid black;
}

.article1 .block1 .content1 {
  height: 68px;
  width: 30vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.article1 .block1 .content1 .img1 {
  width: 40px;
  height: 40px;
  border: 1px solid black;
  border-radius: 50%;
  text-align: center;
  line-height: 35px;
}

.article1 .block2 {
  -ms-flex-item-align: end;
      align-self: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 1px solid black;
  height: 70px;
  min-width: 398px;
}

.article1 .block2 .content2 {
  height: 68px;
  width: 30vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.article1 .block2 .img2 {
  width: 40px;
  height: 40px;
  border: 1px solid black;
  border-radius: 50%;
  text-align: center;
  line-height: 35px;
}

.article2 {
  grid-area: ar2;
  border: 1px solid black;
  text-align: center;
  line-height: 110px;
}

.aside {
  display: -ms-grid;
  display: grid;
}

.blockrow {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: br;
  border: 1px solid black;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

.blocktext {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: bt;
  border: 1px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 50px;
}

.blocktext div {
  min-width: 400px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  border: 1px solid black;
}

.blocktext .item1, .blocktext .item2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: burlywood;
}

.footer {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: fr;
  border: 1px solid black;
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: burlywood;
}
/*# sourceMappingURL=main.css.map */