.main {
    display: flex;
    flex-wrap: wrap;
}
button {
    margin-left: 3px;
}
// .cub {
//     height: 50px;
//     width: 50px;
//     border: 2px solid blue;
//     margin: 2px;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     flex-wrap: wrap;
//     user-select: none;
// }

// .flag{
//     margin: 0 auto;
//     width: 400px;
//     height: 400px;
//     border: 2px solid black;
//     background: linear-gradient(to top, yellow 50%,  blue 50%);
// }
