@media (max-width: 400px) {
  .blockrow {
    display: none;
    height: 1px;
  }
}

.main {
  height: 98vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 50px minmax(200px, 500px);
      grid-template-rows: 50px minmax(200px, 500px);
      grid-template-areas: "hd" "ct";
}

.main div {
  background: burlywood;
  border: 1px solid black;
}

.header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: hd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.header div {
  min-width: 400px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.header .logo, .header .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: burlywood;
}

.cont {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
  -ms-grid-rows: 200px 1fr;
      grid-template-rows: 200px 1fr;
      grid-template-areas: "as ar" "as ar2";
  overflow-y: scroll;
}

.aside {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: as;
}

.article1 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: ar;
}

.article2 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: ar2;
}

.aside {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: as;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
      grid-template-areas: "i3 ." "i3 i4" "i5 i4" "i5 i6" ". i6";
  color: red;
  overflow: scroll;
  overflow: hidden;
}

.aside .item3 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: i3;
  overflow: hidden;
  overflow: scroll;
}

.aside .item4 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  grid-area: i4;
  overflow: hidden;
  overflow: scroll;
}

.aside .item5 {
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: i5;
  overflow: hidden;
  overflow: scroll;
}

.aside .item6 {
  -ms-grid-row: 4;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  grid-area: i6;
  overflow: hidden;
  overflow: scroll;
}

.article1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 400px;
}

.article1 .block1 {
  -ms-flex-item-align: start;
      align-self: flex-start;
  height: 70px;
  min-width: 400px;
  border-color: transparent;
}

.article1 .block1 .content1 {
  height: 68px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.article1 .block1 .content1 .img1 {
  width: 40px;
  height: 40px;
  border: 1px solid black;
  border-radius: 50%;
  text-align: center;
  line-height: 35px;
}

.article1 .block2 {
  -ms-flex-item-align: end;
      align-self: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 1px solid black;
  height: 70px;
  min-width: 398px;
  border-color: transparent;
}

.article1 .block2 .content2 {
  height: 68px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.article1 .block2 .img2 {
  width: 40px;
  height: 40px;
  border: 1px solid black;
  border-radius: 50%;
  text-align: center;
  line-height: 35px;
}

.blockrow {
  grid-area: br;
  height: 100px;
  border: 1px solid black;
}

.blocktext {
  grid-area: bt;
  padding: 3px;
  border: 1px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  overflow: hidden;
}

.blocktext div {
  margin: 0 2px 2px 0;
  min-width: 400px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.blocktext .item1, .blocktext .item2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: burlywood;
}

.footer {
  grid-area: fr;
}
/*# sourceMappingURL=main.css.map */