div {
    position: relative;
    margin: 0px;
    width: 100px;
    height: 50px;
    border: 5px solid black
}
   
.menu1 {
    position: absolute;
    top: -5px;
    left: 110px;
    display: none;    
    
}
.menu2 {
    position: absolute;
    top: 54px;
    right:-5px;
   
}
.menu3 {
    position: absolute;
    top: 55px;
    right:-5px;
   
}
.item1:hover > .menu1 {
    display: block;
    
}
.item2:hover > .menu1 {
    display: block;
}
.item3:hover > .menu1 {
    display: block;
}