body {
    background-color: chartreuse;
}

.rt {
    margin: 0 auto;
    position: relative;
    width: 400px;
    height: 200px;
    background: white;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.ship {
    position: absolute;
    width: 48px;
    height: 21px;
    background-image: url(../images/ship.png);
    /* border: 0px solid black; */
    border-radius: 5px solid black;

    
}
.ship:hover {
    /* border: 4px solid black ; */
    border-radius: 0px solid black;
    /* transition: all 1s, ease-in, 1s; */
    /* transition: 1s, ease-in, 1s; */
}