
.main {
    display: flex;
    flex-direction: row;
}

.playfield {
    
    width: 467px;
    height: 471px;
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    background-color: greenyellow
};
.container {
    
    font-size: 1.2em;
    width: 200px;
    height: 471px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    // flex-direction: column;
    // border: 1px solid black;
    background: rgb(219, 97, 122);

}

.cardfield{
    height: 240px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

}

h3{
    color:chartreuse;
}
.arr{
    display: none;
}
.cub {
    
      height: 50px;
      width: 50px;
      border: 2px solid blue;
      margin: 2px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      user-select: none;
      border-radius: 5px;
    }