@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@800&display=swap%27");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600&display=swap");
body {
  background-color: #266b97;
}

.main {
  position: relative;
  background-color: #b9d6ef;
  height: 1000px;
}

.clouds {
  position: relative;
  margin: 0 auto;
  width: 200px;
  height: 114px;
}

.clouds > div {
  position: absolute;
}

.cloud1 {
  left: -252px;
}

.cloud2 {
  right: -304px;
}

.commingsoon {
  position: relative;
  width: 600px;
  margin: 0 auto;
  height: 61px;
  font-family: 'Raleway', sans-serif;
}

.commingsoon > div {
  position: absolute;
  font-size: 4.2rem;
  line-height: 44px;
  left: 61px;
  letter-spacing: 3px;
  color: white;
  text-shadow: 2px 4px 0 rgba(0, 0, 0, 0.17);
}

.subscribe {
  position: relative;
  margin: 0 auto;
  height: 34px;
  width: 600px;
}

.subscribe > div {
  position: absolute;
  margin-top: 7px;
  left: 103px;
  color: #266b97;
  width: 400px;
  height: 20px;
  color: #266b97;
  font-family: "Houschka Pro";
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  letter-spacing: normal;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
}

.form {
  position: relative;
  margin: 0 auto;
  height: 45px;
  width: 600px;
  margin: 0 auto;
}

.maininput {
  position: absolute;
  width: 235px;
  height: 33px;
  -webkit-box-shadow: 0 1px 0 #ffffff, inset 0 2px 5px rgba(29, 26, 22, 0.2), inset 0 0 2px rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 0 #ffffff, inset 0 2px 5px rgba(29, 26, 22, 0.2), inset 0 0 2px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  left: 134px;
  outline: none;
  border: none;
  margin-top: 9px;
}

.maininput::-webkit-input-placeholder {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: #808080;
  padding-left: 11px;
  font-style: normal;
  letter-spacing: normal;
  line-height: 25px;
}

.maininput:-ms-input-placeholder {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: #808080;
  padding-left: 11px;
  font-style: normal;
  letter-spacing: normal;
  line-height: 25px;
}

.maininput::-ms-input-placeholder {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: #808080;
  padding-left: 11px;
  font-style: normal;
  letter-spacing: normal;
  line-height: 25px;
}

.maininput::placeholder {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: #808080;
  padding-left: 11px;
  font-style: normal;
  letter-spacing: normal;
  line-height: 25px;
}

.megabutton {
  position: absolute;
  border-radius: 4px;
  width: 92px;
  height: 36px;
  margin-top: 9px;
  border: 1px solid #e68e16;
  background-color: #fab937;
  left: 386px;
  text-shadow: 0 1px 1px rgba(29, 26, 22, 0.2);
  color: #ffffff;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: 35px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  outline: none;
}

.futer {
  position: relative;
  margin: 0 auto;
  background-color: #266b97;
  width: 100%;
  height: 100%;
}

.iceberg {
  margin: 0 auto;
  position: relative;
  width: 600px;
  height: 48px;
}

.ice {
  position: absolute;
  margin-top: -198px;
  width: 100%;
  left: 143px;
}

.ship {
  position: absolute;
  left: 118px;
  margin-top: -26px;
}

.firsthorizont {
  position: relative;
  margin-top: 211px;
  width: 100%;
  height: 4px;
  background-color: #ddecfa;
}

.secondhorizont {
  width: 100%;
  height: 9px;
  background-color: #327dad;
}

.elipses {
  margin: 0 auto;
  position: relative;
  height: 100px;
  width: 350px;
}

.days {
  position: absolute;
  height: 16px;
  width: 75px;
  left: 38px;
  z-index: 5;
  bottom: 0;
  color: #f3f3f3;
  font-family: "Houschka Pro";
  font-size: 24px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: 16px;
  text-align: left;
  text-transform: uppercase;
}

.elipse1 {
  position: absolute;
  border-radius: 50%;
  margin-top: -97px;
  width: 70px;
  height: 70px;
  background-color: #b9d6ef;
  left: -4px;
  line-height: 75px;
  z-index: 2;
  color: #266b97;
  font-family: 'Nunito', sans-serif;
  font-size: 24px;
  font-weight: 500;
  text-align: center;
  font-style: normal;
  letter-spacing: normal;
}

.hours {
  position: absolute;
  height: 16px;
  width: 75px;
  left: 139px;
  z-index: 5;
  bottom: 0;
  color: #f3f3f3;
  font-family: "Houschka Pro";
  font-size: 24px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: 16px;
  text-align: left;
  text-transform: uppercase;
}

.elipse2 {
  position: absolute;
  border-radius: 50%;
  margin-top: -97px;
  width: 70px;
  height: 70px;
  background-color: #b9d6ef;
  left: 9px;
  line-height: 75px;
  z-index: 2;
  color: #266b97;
  font-family: 'Nunito', sans-serif;
  font-size: 24px;
  font-weight: 500;
  text-align: center;
  font-style: normal;
  letter-spacing: normal;
}

.mins {
  position: absolute;
  height: 16px;
  width: 75px;
  left: 260px;
  z-index: 5;
  bottom: 0;
  color: #f3f3f3;
  font-family: "Houschka Pro";
  font-size: 23px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: 16px;
  text-align: left;
  text-transform: uppercase;
}

.elipse3 {
  position: absolute;
  border-radius: 50%;
  margin-top: -97px;
  width: 70px;
  height: 70px;
  background-color: #b9d6ef;
  left: -4px;
  line-height: 75px;
  z-index: 2;
  color: #266b97;
  font-family: 'Nunito', sans-serif;
  font-size: 24px;
  font-weight: 500;
  text-align: center;
  font-style: normal;
  letter-spacing: normal;
}
/*# sourceMappingURL=main.css.map */