.main {
  margin: 0 auto;
  min-width: 358px;
  max-width: 1920px;
  height: 1910px;
}

.nav1 {
  margin: 0 auto;
  max-width: 1920px;
  min-width: 358px;
  background-color: #f2f2f2;
}

.nav1 .head {
  margin: 0 auto;
  max-width: 1112px;
  height: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  align-items: center;
}

.nav1 .head .item1 {
  margin-right: 37px;
}

@media (max-width: 750px) {
  .nav1 .head .head {
    margin-right: 100px;
  }
}

.nav2 {
  margin: 0 auto;
  max-width: 1112px;
  min-width: 358px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav2 .cont1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 83px;
  min-width: 218px;
}

.nav2 .cont1 .form {
  width: 647px;
  min-width: 358px;
  height: 44px;
  border: 1px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav2 .cont1 .form .obj {
  width: 467px;
  min-width: 300px;
  border-right: 1px solid black;
  padding: 10px;
}

.nav2 .cont1 .form .obj::before {
  content: "";
  width: 10px;
  height: 10px;
  display: inline-block;
  margin-right: 19px;
  background-image: url("../images/lupa.png");
}

.nav2 .cont1 .form .poisk {
  padding: 30px;
  width: 174px;
}

.nav2 .cont1 .form .poisk::after {
  content: "";
  width: 7px;
  height: 6px;
  display: inline-block;
  margin-left: 7px;
  background-image: url("../images/tr.png");
}

@media (max-width: 750px) {
  .nav2 .cont1 .form {
    display: none;
  }
}

.nav2 .cont1 button {
  width: 218px;
  height: 44px;
  background: linear-gradient(245.23deg, #32228A -43.18%, #745ACD 100%), #C4C4C4;
  border-radius: 3px;
  margin-left: 19px;
  color: #FFFFFF;
}

.nav2 .contburger {
  max-width: 100px;
}

.nav2 .contburger .burger {
  background-image: url("../images/menu-options.png");
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 26px;
  height: 19px;
}

.slider {
  margin: 0 auto;
  max-width: 1112px;
  height: 166px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.slider .im1 {
  background-image: url("../images/phone2.png");
  width: 358px;
  height: 165px;
  border-radius: 5px;
}

.slider .im2 {
  background-image: url("../images/cars2.png");
  width: 358px;
  height: 165px;
  border-radius: 5px;
}

.slider .im3 {
  background-image: url("../images/phone2.png");
  width: 358px;
  height: 165px;
  border-radius: 5px;
}

@media (max-width: 750px) {
  .slider {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    overflow: hidden;
    height: 343px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (max-width: 750px) {
  .im3 {
    display: none;
  }
}

.nav3 {
  margin: 0 auto;
  max-width: 1112px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav3 .it1 {
  width: 191px;
  height: 31px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav3 .cont2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 415px;
  height: 31px;
}

.nav3 .it2, .nav3 .it3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav3 .it2 .it3, .nav3 .it3 .it3 {
  margin-left: 93px;
}

.nav3 .im1, .nav3 .im2 {
  display: none;
}

@media (max-width: 358px) {
  .nav3 span {
    opacity: 0;
  }
  .nav3 .im1, .nav3 .im2 {
    width: 30px;
    height: 30px;
    display: block;
  }
  .nav3 .im2 {
    margin-right: 30px;
  }
}

.content {
  margin: 0 auto;
  max-width: 1112px;
  height: 1262px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.content .cards {
  margin-bottom: 31px;
  width: 253px;
  height: 400px;
  background-image: url("../images/chears.png");
}

@media (max-width: 750px) {
  .content {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}
/*# sourceMappingURL=main.css.map */