

    
.main{
    margin: 0 auto;
    // min-width: 750px;
    min-width: 358px;
    max-width: 1200px;
    height: 1910px;
    // border: 1px solid black;
    
    
  
}
.nav1 {
    margin: 0 auto;
    max-width: 1200px;
    min-width: 358px;
    background-color: rgba(242, 242, 242, 1);
    display: flex;
    justify-content: flex-end;

    .head {
        
       margin: 0 20px;
        width: 358px;
        height: 36px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        align-items: center;
        // border:1px solid black;
        // background-color: rgba(242, 242, 242, 1);
        .item1 {
        margin-right: 37px;
        }
        @media (max-width:750px) {
            .head {
                margin-right: 100px;
            }
        }
        

    }
}
.nav2 {
    margin: 0 auto;
    max-width: 1200px;
    min-width: 358px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
    // width: 1112px;
    // height: 83px;
    
    // border:1px solid black;
    .cont1{
        // align-self: flex-end;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        height: 83px;
        min-width: 278px;
        
        // border:1px solid black;
        .form {
            width: 651px;
            // padding: 0 30px;
            // min-width: 358px;
            height: 44px;
            border:1px solid black;
            display: flex;
            justify-content: space-around;
            align-items: center;
            
            
            .obj{
                width: 467px;
                
                border-right: 1px solid black;
                padding: 10px;
                
                
                &::before {
                   content: "";
                   width: 10px;
                   height: 10px;
                   display: inline-block;
                    margin-right: 19px;
                   background-image: url('../images/lupa.png') ;  
                }  
            }
                .poisk {
                    padding: 30px;
                    width: 174px;
                // border: 1px solid black;
                
                
                &::after{
                    content: "";
                   width: 7px;
                   height: 6px;
                   display: inline-block;
                   margin-left: 7px;
                //    background-color: red;
                   background-image: url('../images/tr.png');

                }
            }
           

        }
        @media (max-width:750px) {
            .form {
                display: none;
                
            }
            
        }
        
        
        button {
           width: 218px;
            height: 44px;
            // border:1px solid black;
            width: 218px;
            background: linear-gradient(245.23deg, #32228A -43.18%, #745ACD 100%), #C4C4C4;
            border-radius: 3px;
            margin-left: 19px;
            color: #FFFFFF;
            
        }
    }
    .contburger {
        max-width: 100px;
        .burger {
            background-image: url('../images/menu-options.png');
            justify-content: flex-start;
            
            width: 26px;
            height: 19px;
        }
    }
    
}
.slider {
    margin: 0 auto;
    max-width: 1112px;
    // border: 1px solid black;
    height: 166px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
  
    
    
    .im1 {
        background-image: url('../images/phone2.png');
        // border: 1px solid black;
        width: 358px;
        height: 165px;
        border-radius: 5px;
        // margin-left: 0px;
        // margin-right: 20px;
    }
    .im2 {
        background-image: url('../images/cars2.png');
        // border: 1px solid black;
        width: 358px;
        height: 165px;
        border-radius: 5px;
        // margin-right: 20px;
    }
    .im3 {
        background-image: url('../images/phone2.png');
        // border: 1px solid black;
        width: 358px;
        height: 165px;
        border-radius: 5px;
        // margin-right: 0px;
    }
}
@media (max-width: 750px) {
    .slider {
        flex-wrap: wrap;
        // max-width: 73vw;
        overflow: hidden;
        height: 343px;
        justify-content: space-between;
    }
    
}
@media (max-width: 750px) {
    .im3 {
        display: none;
    }
    
}


.nav3 {
    margin: 0 auto;
    max-width: 1112px;
    // border: 1px solid black;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .it1 {
        width: 191px;
        height: 31px;
        display: flex;
        align-items: center;
    }
    .cont2 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 415px;
        height: 31px;
    }
    .it2, .it3{
        
        display: flex;
        align-items: center;
        .it3 {
            margin-left: 93px;
        }
        
    }
    .im1, .im2 {
        display: none;
    }
    @media (max-width: 358px) {
        span {
           opacity: 0;

       }
       .im1, .im2 {
           width: 30px;
           height: 30px;
           display: block;
           
       }
       .im2 {
           margin-right: 30px;
       }
       

    }
    

}
.content {
    margin: 0 auto;
    // border: 1px solid black;
    max-width: 1112px;
    height: 1262px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .cards {
        margin-bottom: 31px;
        width: 253px;
        height: 400px;
        background-image: url('../images/chears.png');
    }
}
@media (max-width: 750px) {
    .content {
        // max-width: 73vw;
        flex-grow: 1;
        justify-content: space-around;
    }
}
